.container{ 
        
    padding: 8rem 2rem 2rem 2rem;
    
    h1{
        text-align: center;
        margin-bottom: 1.5rem;
    }

    img{
        max-width: 300px;
        min-width: 250px;
        margin: .75rem 1.5rem 0 0;
        float: left;
    }

    p{
        margin-bottom: .75rem;
    }
    
}